.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 500px) {
  .container {
    width: 470px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1250px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1450px;
  }
}
@media (min-width: 1950px) {
  .container {
    width: 1570px;
  }
}
/******************* general *****************/
.small-font{
  font-size: 0.8rem;
  margin: 0.2rem;
}
.medium-font{
  font-size: 1.1rem;
  margin: 0.3rem;
}
.gap-05{
  gap: 0.5rem;
}
.gap-1{
  gap: 1rem;
}
.bold{
  font-weight: bold;
}
.semi-bold{
  font-weight: 600;
}
.t-center{
  text-align: center;
}
.d-flex{
  display:flex;
}
.align-items-center{
  align-items: center;
}
.d-center{
  display:flex;
  align-items: center;
}
.small-title {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 0;
}
/********** navbar ***********/
.user-icon{
  width:2rem;
  height:2rem;
  padding: 0 1rem;
}
nav ul {
  padding: 0 2rem;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  display: flex;
  gap: 0 1rem;
}
.nav-class{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header{
  background-color: #001983;
  border-radius: 0 0 1rem 1rem;
  max-width: 100vw;
}
/********** end navbar ***********/

.Select_and_Search_Bar{
  margin: 1rem;
  display: flex;
  
}
.searchBar, .searchBar-full{
  color: #000;
  background: #DFDFDF;
  padding: 1rem;
  border: none;
  border-radius: 0rem 1rem 1rem 0rem;
}
/********** profile *************/
.searchBar-full{
  border-radius: 1rem;
  width: 20rem;
  margin: 1rem;
}
.selectBar{
  border-radius: 1rem 0 0rem 1rem;
}
.profile-button{
  background: none;
}
.profileButton{
  padding: 0.5rem;
}
.profile-container {
  color: #000;
  gap: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login{
  text-align: right;
}
.logo{
  margin: 1rem;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.profile-edit-product{
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.edit-btn-green {
  background-color: green;
  color: white;
}

/************* end profile ****************/
/************ categories ******************/
.categoriesButtons button{
  margin: 0.25rem;
}
/************ end categories ****************/

/*********** cart ***************************/
.cart-container{
  display: flex;
  align-items: center;
  color: #000;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}
.cart-pdflink{
  color: blue;
}
/*********** end cart ***************************/

/*********** homepage products *******************/
.unactive-price{
  color:rgb(158, 34, 34)!important;
  font-size:1rem;
  text-decoration: line-through
}
.product-name{
  height: 2rem;
  line-height: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: clamp(14px, 1.5rem, 1rem);
}
.promo-price{
  color:rgb(4, 141, 4);
}
.product-solo{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 0.5rem;
  padding: 1.2rem;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px;
}
.cart_button{
  background: rgb(4, 141, 4);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}
.cart_button:hover{
  background: rgb(0, 121, 0);
}
.promo-badge {
  background: darkgreen;
  top: -1rem;
  right: -0.5rem;
  border-radius: 10rem;
  font-weight: 700;
  color: #fff;
  padding: 0.5rem;
  position: absolute;
  width: 2rem;
  height: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.image-product-wrapper{
  height:10rem;
  overflow: hidden;
  object-fit: cover;
}
.product-photo{
  width: 10rem;
  height:auto;
}
dialog::backdrop{
  background-color: rgba(0, 0, 255, 0.595);
}
/*********** end homepage products *******************/
.container-card{
  display: flex;
}
.buttons{
  display: flex;
  flex-direction: column;
  align-self: center;
}
.buttons button{
  background: rgba(0, 0, 0, 0);
}
.card {
  color: #000;
  background: #fff;
  margin: 1rem 0.2rem;
  border-radius: 1.2rem;
  width: 100%;
}
.card img{
  height: 6.5rem;
  width: 19rem;
}
.card h2{
  font-size: 1.6rem;
  position: relative;
  text-align: left;
  padding: 1rem 1.25rem 1rem 1.25rem;
  border-radius: 0rem 0.7rem 0.7rem 0;
  font-family: system-ui;
  width: 11rem;
}
.card-list{
  display: flex;
  gap: 1rem; 
  align-items: center;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.buttons h2{
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Poppins-Medium';
}
.read-the-docs {
  color: #888;
}
.partyListContainer{
  margin: 5rem 0;
}
.home_container{
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
/******* admin ********/ 
.deleteParties{
  overflow: scroll;
}
.partyCardAdmin{
  border: solid 1px #fff;
  border-radius: 1rem;
  margin: 1rem;
}
.parent-categories{
  width: 15%;
  margin: 1rem;
  color: #000;
}
.child-categories{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
}
.parent-products{
  width: 90%;
  margin: 1rem;
}
.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.cart-wrapper{
  display:flex;
  flex-direction: column;
  gap: 1rem;
}
.profile-card{
  background: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px;
}
.profile-card input{
  padding: 0.5rem;
  border-radius: 1rem;
}
.createProduct-dad, .editProduct-dad{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.createProduct-dad{
  width: 40rem;
  margin: auto;
}

.createProduct{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
/******responsive************/
@media (max-width:1100px){
  .parent-categories{
    width: 100%;
  }
  .Select_and_Search_Bar{
    margin: 1rem 0;
    justify-content: center;
  }
  .nav-class{
    flex-direction: column;
    align-items: initial;
  }
  .linklogo{
    align-self: center;
  }
  .home_container{
    flex-direction: column;
  }
  .parent-products{
    width: 100%;
    margin:0;
  }
  .products{
    grid-template-columns: 1fr 1fr;
  }
  .parent-categories{
    margin: 0;
  }
}
@media(max-width:500px){
  .products{
    grid-template-columns: 1fr;
  }
}
/*************** modal ********************/
.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 2; 
  position: fixed;
  top:0;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.modal {
  width: 250px;
  height: 170px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}